# Librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Cargar y Explorar el Dataset

In [2]:
df = pd.read_csv('..\\data\\raw\\Atletas_y_ParaAtletas_apoyados_20250203.csv')

In [3]:
df.head()

,ID,Tipo_Atleta,sexo,Deporte,Rango_Edad,Organización_deportiva,Subregión_nacimiento,Municipio_nacimiento,Año,Mes,Permanencia
0,129719,Atletas convencionales,Hombre,Esquí Nautico,2014-10-01T00:00:00.000,Esqui Nautico,Valle de Aburrá,Medellín,2021,1,Activo
1,129719,Atletas convencionales,Hombre,Esquí Nautico,2014-10-01T00:00:00.000,Esqui Nautico,Valle de Aburrá,Medellín,2021,10,Activo
2,129719,Atletas convencionales,Hombre,Esquí Nautico,2014-10-01T00:00:00.000,Esqui Nautico,Valle de Aburrá,Medellín,2021,11,Activo
3,129719,Atletas convencionales,Hombre,Esquí Nautico,2014-10-01T00:00:00.000,Esqui Nautico,Valle de Aburrá,Medellín,2021,12,Activo
4,129719,Atletas convencionales,Hombre,Esquí Nautico,2014-10-01T00:00:00.000,Esqui Nautico,Valle de Aburrá,Medellín,2021,2,Activo

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      60000 non-null  int64
 1   Tipo_Atleta             60000 non-null  object
 2   sexo                    60000 non-null  object
 3   Deporte                 60000 non-null  object
 4   Rango_Edad              60000 non-null  object
 5   Organización_deportiva  60000 non-null  object
 6   Subregión_nacimiento    60000 non-null  object
 7   Municipio_nacimiento    60000 non-null  object
 8   Año                     60000 non-null  int64
 9   Mes                     60000 non-null  int64
 10  Permanencia             60000 non-null  object
dtypes: int64(3), object(8)
memory usage: 5.0+ MB

Vemos que tenemos 60000 registros y 11 columnas, sin datos nulos

Observamos que no hay valores nulos

In [5]:
df.describe(include='all')

,ID,Tipo_Atleta,sexo,Deporte,Rango_Edad,Organización_deportiva,Subregión_nacimiento,Municipio_nacimiento,Año,Mes,Permanencia
count,6.000000e+04,60000,60000,60000,60000,60000,60000,60000,60000.000000,60000.000000,60000
unique,NaN,2,2,74,14,47,10,96,NaN,NaN,2
top,NaN,Atletas convencionales,Hombre,Atletismo,20-24,Liga de Atletismo de Antioquia,Valle de Aburrá,Medellín,NaN,NaN,Activo
freq,NaN,47951,35768,4047,20973,4047,33761,27875,NaN,NaN,53815
mean,5.295777e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.500000,6.492967,NaN
std,5.662602e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500004,3.392857,NaN
min,1.100000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,1.000000,NaN
25%,1.297670e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,4.000000,NaN
50%,1.303400e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.500000,7.000000,NaN
75%,1.303390e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022.000000,9.000000,NaN
max,1.645738e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022.000000,12.000000,NaN

# 2. Distribución General de los Atletas